@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

a {
  curser: pointer;
}

p,
a,
span,
ul,
li,
div {
  @apply text-[1.2rem];
}

.nextArrow::before,
.prevArrow::before {
  font-size: 30px;
}

.nextArrow::before {
  content: "&#xe316";
}

.prevArrow::before {
  font-size: 30px;
}

.truncate2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.truncate4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.slick-slide {
  height: 100%;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.slick-slide div {
  height: 100%;
  max-height: 250px;
}

.typingIndicatorBubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 40px;
  margin: 0px 8px;
  background-color: #f0f1f1;
  border-radius: 12px;
}

.typingIndicatorBubbleDot {
  width: 4px;
  height: 4px;
  margin-right: 4px;
  background-color: #57585a;
  border-radius: 50%;
  animation-name: bounce;
  animation-duration: 1.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.typingIndicatorBubbleDot:first-of-type {
  margin: 0px 4px;
}

.typingIndicatorBubbleDot:nth-of-type(2) {
  animation-delay: 0.15s;
}

.typingIndicatorBubbleDot:nth-of-type(3) {
  animation-delay: 0.3s;
}

@keyframes bounce {

  0%,
  60%,
  100% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(-4px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeIn {
  animation: fadeIn 1s ease-in both;
}

.fadeIn:nth-child(2) {
  animation-delay: 0.1s;
}

.fadeIn:nth-child(3) {
  animation-delay: 0.2s;
}

.fadeIn:nth-child(4) {
  animation-delay: 0.3s;
}

.fadeIn:nth-child(5) {
  animation-delay: 0.4s;
}

.fadeIn:nth-child(6) {
  animation-delay: 0.5s;
}

.fadeIn:nth-child(7) {
  animation-delay: 0.6s;
}

.fadeIn:nth-child(8) {
  animation-delay: 0.7s;
}

.fadeIn:nth-child(9) {
  animation-delay: 0.8s;
}

.fadeIn:nth-child(10) {
  animation-delay: 0.9s;
}

.fadeIn:nth-child(11) {
  animation-delay: 1s;
}

.fadeIn:nth-child(12) {
  animation-delay: 1.1s;
}

.fadeIn:nth-child(13) {
  animation-delay: 1.2s;
}